.result {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 12px 20px;
  border-radius: var(--focus-mode-ext-c-radius);
  text-align: center;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: var(--focus-mode-ext-c-success);
  color: var(--focus-mode-ext-c-on-success);
}

.incorrect {
  background-color: var(--focus-mode-ext-c-error);
  color: var(--focus-mode-ext-c-on-error);
}
