.button {
  background-color: var(
    --focus-mode-ext-button-color,
    var(--focus-mode-ext-c-primary)
  );
  color: var(
    --focus-mode-ext-button-color-foreground,
    var(--focus-mode-ext-c-on-primary)
  );

  padding-inline: var(--focus-mode-ext-button-px, 16px);
  min-height: var(--focus-mode-ext-button-height, 46px);

  border-radius: var(--focus-mode-ext-c-radius);
  border: none;

  font-size: var(--focus-mode-ext-button-font-size, 14px);
  font-weight: var(--focus-mode-ext-button-font-weight, 500);
  line-height: var(--focus-mode-ext-button-line-height, 1);

  appearance: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  /* Color variants */
  &[data-variant="primary"] {
    --focus-mode-ext-button-color: var(--focus-mode-ext-c-primary);
    --focus-mode-ext-button-color-foreground: var(
      --focus-mode-ext-c-on-primary
    );
  }

  &[data-variant="secondary"] {
    --focus-mode-ext-button-color: var(--focus-mode-ext-c-secondary);
    --focus-mode-ext-button-color-foreground: var(
      --focus-mode-ext-c-on-secondary
    );
  }

  &[data-variant="tertiary"] {
    --focus-mode-ext-button-color: var(--focus-mode-ext-c-tertiary);
    --focus-mode-ext-button-color-foreground: var(
      --focus-mode-ext-c-on-tertiary
    );
  }

  &[data-variant="destructive"] {
    --focus-mode-ext-button-color: var(--focus-mode-ext-c-destructive);
    --focus-mode-ext-button-color-foreground: var(
      --focus-mode-ext-c-on-destructive
    );
  }

  /* Sizes */
  &[data-size="sm"] {
    --focus-mode-ext-button-height: 36px;
  }

  &[data-size="md"] {
    --focus-mode-ext-button-height: 46px;
  }

  &[data-size="lg"] {
    --focus-mode-ext-button-height: 56px;
  }

  &[data-icon] {
    padding-inline: 0;
    aspect-ratio: 1 / 1;
  }

  /* States */
  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &[data-loading] {
    opacity: 0.5;
    cursor: not-allowed;
    filter: brightness(0.5);
  }

  &[data-error] {
    --focus-mode-ext-button-color: var(--focus-mode-ext-c-error);
    --focus-mode-ext-button-color-foreground: var(--focus-mode-ext-c-on-error);
  }
}
